In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [55]:
get_ipython().run_line_magic('matplotlib', 'inline')

In [56]:
df = pd.read_csv('Leads.csv')

In [57]:
len(df)

9240

In [58]:
df.head().T

,0,1,2,3,4
Prospect ID,7927b2df-8bba-4d29-b9a2-b6e0beafe620,2a272436-5132-4136-86fa-dcc88c88f482,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,3256f628-e534-4826-9d63-4a8b88782852
Lead Number,660737,660728,660727,660719,660681
Lead Origin,API,API,Landing Page Submission,Landing Page Submission,Landing Page Submission
Lead Source,Olark Chat,Organic Search,Direct Traffic,Direct Traffic,Google
Do Not Email,No,No,No,No,No
Do Not Call,No,No,No,No,No
Converted,0,0,1,0,1
TotalVisits,0.0,5.0,2.0,1.0,2.0
Total Time Spent on Website,0,674,1532,305,1428
Page Views Per Visit,0.0,2.5,2.0,1.0,1.0
Last Activity,Page Visited on Website,Email Opened,Email Opened,Unreachable,Converted to Lead
Country,NaN,India,India,India,India
Specialization,Select,Select,Business Administration,Media and Advertising,Select
How did you hear about X Education,Select,Select,Select,Word Of Mouth,Other
What is your current occupation,Unemployed,Unemployed,Student,Unemployed,Unemployed
What matters most to you in choosing a course,Better Career Prospects,Better Career Prospects,Better Career Prospects,Better Career Prospects,Better Career Prospects
Search,No,No,No,No,No
Magazine,No,No,No,No,No
Newspaper Article,No,No,No,No,No
X Education Forums,No,No,No,No,No
Newspaper,No,No,No,No,No
Digital Advertisement,No,No,No,No,No
Through Recommendations,No,No,No,No,No
Receive More Updates About Our Courses,No,No,No,No,No
Tags,Interested in other courses,Ringing,Will revert after reading the email,Ringing,Will revert after reading the email
Lead Quality,Low in Relevance,NaN,Might be,Not Sure,Might be
Update me on Supply Chain Content,No,No,No,No,No
Get updates on DM Content,No,No,No,No,No
Lead Profile,Select,Select,Potential Lead,Select,Select
City,Select,Select,Mumbai,Mumbai,Mumbai
Asymmetrique Activity Index,02.Medium,02.Medium,02.Medium,02.Medium,02.Medium
Asymmetrique Profile Index,02.Medium,02.Medium,01.High,01.High,01.High
Asymmetrique Activity Score,15.0,15.0,14.0,13.0,15.0
Asymmetrique Profile Score,15.0,15.0,20.0,17.0,18.0
I agree to pay the amount through cheque,No,No,No,No,No
A free copy of Mastering The Interview,No,No,Yes,No,No
Last Notable Activity,Modified,Email Opened,Email Opened,Modified,Modified

In [59]:
df.dtypes

Prospect ID                                       object
Lead Number                                        int64
Lead Origin                                       object
Lead Source                                       object
Do Not Email                                      object
Do Not Call                                       object
Converted                                          int64
TotalVisits                                      float64
Total Time Spent on Website                        int64
Page Views Per Visit                             float64
Last Activity                                     object
Country                                           object
Specialization                                    object
How did you hear about X Education                object
What is your current occupation                   object
What matters most to you in choosing a course     object
Search                                            object
Magazine                                          object
Newspaper Article                                 object
X Education Forums                                object
Newspaper                                         object
Digital Advertisement                             object
Through Recommendations                           object
Receive More Updates About Our Courses            object
Tags                                              object
Lead Quality                                      object
Update me on Supply Chain Content                 object
Get updates on DM Content                         object
Lead Profile                                      object
City                                              object
Asymmetrique Activity Index                       object
Asymmetrique Profile Index                        object
Asymmetrique Activity Score                      float64
Asymmetrique Profile Score                       float64
I agree to pay the amount through cheque          object
A free copy of Mastering The Interview            object
Last Notable Activity                             object
dtype: object

In [60]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
 
string_columns = list(df.dtypes[df.dtypes == 'object'].index)
 
for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [61]:
df.converted = (df.converted == 1).astype(int)

In [62]:
df.converted.head()

0    0
1    0
2    1
3    0
4    1
Name: converted, dtype: int32

In [63]:
(df.converted == 1).head()

0    False
1    False
2     True
3    False
4     True
Name: converted, dtype: bool

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=1)

In [66]:
df_train, df_val = train_test_split(df_train_full, test_size=0.33, random_state=11)
 
y_train = df_train.converted.values
y_val = df_val.converted.values
 
del df_train['converted']
del df_val['converted']

In [67]:
df_train_full.isnull().sum()

prospect_id                                         0
lead_number                                         0
lead_origin                                         0
lead_source                                        26
do_not_email                                        0
do_not_call                                         0
converted                                           0
totalvisits                                       108
total_time_spent_on_website                         0
page_views_per_visit                              108
last_activity                                      82
country                                          1971
specialization                                   1136
how_did_you_hear_about_x_education               1748
what_is_your_current_occupation                  2135
what_matters_most_to_you_in_choosing_a_course    2153
search                                              0
magazine                                            0
newspaper_article                                   0
x_education_forums                                  0
newspaper                                           0
digital_advertisement                               0
through_recommendations                             0
receive_more_updates_about_our_courses              0
tags                                             2669
lead_quality                                     3807
update_me_on_supply_chain_content                   0
get_updates_on_dm_content                           0
lead_profile                                     2153
city                                             1119
asymmetrique_activity_index                      3375
asymmetrique_profile_index                       3375
asymmetrique_activity_score                      3375
asymmetrique_profile_score                       3375
i_agree_to_pay_the_amount_through_cheque            0
a_free_copy_of_mastering_the_interview              0
last_notable_activity                               0
dtype: int64

In [68]:
df_train_full.converted.value_counts()

0    4560
1    2832
Name: converted, dtype: int64

In [69]:
global_mean = df_train_full.converted.mean()

In [70]:
round(global_mean, 3)

0.383

In [80]:
categorical = ['prospect_id', 'lead_origin', 'lead_source', 'do_not_email', 'do_not_call', 'last_activity', 'country', 'specialization', 'how_did_you_hear_about_x_education', 'what_is_your_current_occupation', 'what_matters_most_to_you_in_choosing_a_course', 'search', 'magazine', 'newspaper_article', 'x_education_forums', 'newspaper', 'digital_advertisement', 'through_recommendations', 'receive_more_updates_about_our_courses', 'tags', 'lead_quality', 'update_me_on_supply_chain_content', 'get_updates_on_dm_content', 'lead_profile', 'city', 'asymmetrique_activity_index', 'asymmetrique_profile_index', 'i_agree_to_pay_the_amount_through_cheque', 'a_free_copy_of_mastering_the_interview', 'last_notable_activity']
numerical = ['lead_number', 'converted', 'totalvisits', 'total_time_spent_on_website', 'page_views_per_visit', 'asymmetrique_activity_score', 'asymmetrique_profile_score']

In [92]:
df_train_full[categorical].nunique()

prospect_id                                      7392
lead_origin                                         5
lead_source                                        19
do_not_email                                        2
do_not_call                                         2
last_activity                                      16
country                                            36
specialization                                     19
how_did_you_hear_about_x_education                 10
what_is_your_current_occupation                     6
what_matters_most_to_you_in_choosing_a_course       2
search                                              2
magazine                                            1
newspaper_article                                   2
x_education_forums                                  1
newspaper                                           2
digital_advertisement                               2
through_recommendations                             2
receive_more_updates_about_our_courses              1
tags                                               26
lead_quality                                        5
update_me_on_supply_chain_content                   1
get_updates_on_dm_content                           1
lead_profile                                        6
city                                                7
asymmetrique_activity_index                         3
asymmetrique_profile_index                          3
i_agree_to_pay_the_amount_through_cheque            1
a_free_copy_of_mastering_the_interview              2
last_notable_activity                              16
dtype: int64

In [73]:
df_train_full.what_is_your_current_occupation.value_counts()

unemployed              4503
working_professional     560
student                  167
other                     13
housewife                  8
businessman                6
Name: what_is_your_current_occupation, dtype: int64

In [74]:
occupation_unemployed = df_train_full[df_train_full.what_is_your_current_occupation == 'unemployed'].converted.mean()
occupation_working_professional = df_train_full[df_train_full.what_is_your_current_occupation == 'working_professional'].converted.mean()
occupation_student = df_train_full[df_train_full.what_is_your_current_occupation == 'student'].converted.mean()
occupation_other = df_train_full[df_train_full.what_is_your_current_occupation == 'other'].converted.mean()
occupation_housewife = df_train_full[df_train_full.what_is_your_current_occupation == 'housewife'].converted.mean()
occupation_businessman = df_train_full[df_train_full.what_is_your_current_occupation == 'businessman'].converted.mean()

In [75]:
print('what_is_your_current_occupation == unemployed :', round(occupation_unemployed, 3))
print('what_is_your_current_occupation == working_professional :', round(occupation_working_professional, 3))
print('what_is_your_current_occupation == student :', round(occupation_student, 3))
print('what_is_your_current_occupation == other :', round(occupation_other, 3))
print('what_is_your_current_occupation == housewife :', round(occupation_housewife, 3))
print('what_is_your_current_occupation == businessman :', round(occupation_businessman, 3))

what_is_your_current_occupation == unemployed : 0.429
what_is_your_current_occupation == working_professional : 0.916
what_is_your_current_occupation == student : 0.359
what_is_your_current_occupation == other : 0.615
what_is_your_current_occupation == housewife : 1.0
what_is_your_current_occupation == businessman : 0.5

In [76]:
global_mean = df_train_full.converted.mean()
 
df_group = df_train_full.groupby(by='what_is_your_current_occupation').converted.agg(['mean'])
df_group['diff'] = df_group['mean'] - global_mean
df_group['risk'] = df_group['mean'] / global_mean
 
df_group

                                     mean      diff      risk
what_is_your_current_occupation
businessman                      0.500000  0.116883  1.305085
housewife                        1.000000  0.616883  2.610169
other                            0.615385  0.232268  1.606258
student                          0.359281 -0.023835  0.937785
unemployed                       0.429491  0.046375  1.121045
working_professional             0.916071  0.532955  2.391102

In [77]:
from IPython.display import display 
 
for col in categorical:
    df_group = df_train_full.groupby(by=col).converted.agg(['mean'])
    df_group['diff'] = df_group['mean'] - global_mean
    df_group['rate'] = df_group['mean'] / global_mean
    display(df_group)

                                      mean      diff      rate
prospect_id
000104b9-23e4-4ddc-8caa-8629fe8ad7f4   1.0  0.616883  2.610169
0006d10a-eb01-4ba9-92e2-ad78588b2a40   0.0 -0.383117  0.000000
0011be30-fa97-465b-8e44-0ae83dff7eed   0.0 -0.383117  0.000000
0011f23e-9fd9-4256-b316-efc2e2639b0d   0.0 -0.383117  0.000000
001e6e14-2183-47ab-a405-108e44bc2e66   1.0  0.616883  2.610169
...                                    ...       ...       ...
ffd99338-2e6b-4c3f-8650-68b94ea5e07f   0.0 -0.383117  0.000000
ffec8e24-0c99-4345-89f1-e3ad6689764f   1.0  0.616883  2.610169
fff076a3-fe95-4c79-9401-e15846be8086   0.0 -0.383117  0.000000
fff49ad0-6015-448c-a7cc-f454c39ffdda   0.0 -0.383117  0.000000
fff4f056-6574-4f97-b85a-ea4198a2915b   0.0 -0.383117  0.000000

[7392 rows x 3 columns]

                             mean      diff      rate
lead_origin
api                      0.308414 -0.074702  0.805014
landing_page_submission  0.360677 -0.022440  0.941427
lead_add_form            0.919861  0.536744  2.400992
lead_import              0.225000 -0.158117  0.587288
quick_add_form           1.000000  0.616883  2.610169

                       mean      diff      rate
lead_source
bing               0.166667 -0.216450  0.435028
blog               0.000000 -0.383117  0.000000
click2call         0.750000  0.366883  1.957627
direct_traffic     0.317624 -0.065493  0.829052
facebook           0.225000 -0.158117  0.587288
google             0.400000  0.016883  1.044068
live_chat          1.000000  0.616883  2.610169
nc_edm             1.000000  0.616883  2.610169
olark_chat         0.251768 -0.131349  0.657157
organic_search     0.374320 -0.008797  0.977038
pay_per_click_ads  0.000000 -0.383117  0.000000
press_release      0.000000 -0.383117  0.000000
reference          0.910588  0.527471  2.376790
referral_sites     0.268041 -0.115076  0.699633
social_media       0.500000  0.116883  1.305085
welearn            1.000000  0.616883  2.610169
welearnblog_home   0.000000 -0.383117  0.000000
welingak_website   0.982906  0.599789  2.565551
youtubechannel     0.000000 -0.383117  0.000000

                  mean      diff      rate
do_not_email
no            0.401265  0.018148  1.047368
yes           0.174281 -0.208836  0.454903

                 mean      diff      rate
do_not_call
no           0.383033 -0.000083  0.999782
yes          1.000000  0.616883  2.610169

                                  mean      diff      rate
last_activity
approached_upfront            1.000000  0.616883  2.610169
converted_to_lead             0.126437 -0.256680  0.330021
email_bounced                 0.092308 -0.290809  0.240939
email_link_clicked            0.239437 -0.143680  0.624970
email_marked_spam             1.000000  0.616883  2.610169
email_opened                  0.363137 -0.019980  0.947848
email_received                1.000000  0.616883  2.610169
form_submitted_on_website     0.255102 -0.128015  0.665860
had_a_phone_conversation      0.727273  0.344156  1.898305
olark_chat_conversation       0.086185 -0.296932  0.224958
page_visited_on_website       0.231518 -0.151599  0.604300
resubscribed_to_emails        1.000000  0.616883  2.610169
sms_sent                      0.627611  0.244494  1.638172
unreachable                   0.313433 -0.069684  0.818113
unsubscribed                  0.265306 -0.117811  0.692494
view_in_browser_link_clicked  0.166667 -0.216450  0.435028

                          mean      diff      rate
country
asia/pacific_region   0.500000  0.116883  1.305085
australia             0.222222 -0.160895  0.580038
bahrain               0.666667  0.283550  1.740113
bangladesh            0.500000  0.116883  1.305085
belgium               0.000000 -0.383117  0.000000
canada                0.000000 -0.383117  0.000000
china                 0.000000 -0.383117  0.000000
denmark               1.000000  0.616883  2.610169
france                0.600000  0.216883  1.566102
germany               0.250000 -0.133117  0.652542
ghana                 0.000000 -0.383117  0.000000
hong_kong             0.500000  0.116883  1.305085
india                 0.367986 -0.015131  0.960506
indonesia             0.000000 -0.383117  0.000000
italy                 0.000000 -0.383117  0.000000
kenya                 0.000000 -0.383117  0.000000
kuwait                0.000000 -0.383117  0.000000
liberia               0.000000 -0.383117  0.000000
netherlands           0.000000 -0.383117  0.000000
nigeria               0.000000 -0.383117  0.000000
oman                  0.750000  0.366883  1.957627
philippines           0.000000 -0.383117  0.000000
qatar                 0.000000 -0.383117  0.000000
russia                0.000000 -0.383117  0.000000
saudi_arabia          0.222222 -0.160895  0.580038
singapore             0.416667  0.033550  1.087571
south_africa          0.500000  0.116883  1.305085
sri_lanka             0.000000 -0.383117  0.000000
sweden                0.000000 -0.383117  0.000000
switzerland           0.000000 -0.383117  0.000000
uganda                0.000000 -0.383117  0.000000
united_arab_emirates  0.341463 -0.041653  0.891277
united_kingdom        0.384615  0.001499  1.003911
united_states         0.263158 -0.119959  0.686887
unknown               0.333333 -0.049784  0.870056
vietnam               0.000000 -0.383117  0.000000

                                       mean      diff      rate
specialization
banking,_investment_and_insurance  0.458333  0.075216  1.196328
business_administration            0.457478  0.074361  1.194095
e-business                         0.408163  0.025046  1.065375
e-commerce                         0.356322 -0.026795  0.930060
finance_management                 0.453865  0.070748  1.184665
healthcare_management              0.504065  0.120948  1.315695
hospitality_management             0.363636 -0.019481  0.949153
human_resource_management          0.455474  0.072358  1.188866
international_business             0.361702 -0.021415  0.944104
it_projects_management             0.375427 -0.007690  0.979927
marketing_management               0.479699  0.096582  1.252096
media_and_advertising              0.411043  0.027926  1.072892
operations_management              0.470588  0.087471  1.228315
retail_management                  0.357143 -0.025974  0.932203
rural_and_agribusiness             0.400000  0.016883  1.044068
select                             0.418006  0.034890  1.091068
services_excellence                0.310345 -0.072772  0.810053
supply_chain_management            0.423488  0.040371  1.105374
travel_and_tourism                 0.350000 -0.033117  0.913559

                                        mean      diff      rate
how_did_you_hear_about_x_education
advertisements                      0.450980  0.067864  1.177135
email                               0.421053  0.037936  1.099019
multiple_sources                    0.349593 -0.033523  0.912498
online_search                       0.425868  0.042751  1.111586
other                               0.412903  0.029786  1.077747
select                              0.474021  0.090904  1.237276
sms                                 0.200000 -0.183117  0.522034
social_media                        0.428571  0.045455  1.118644
student_of_someschool               0.475410  0.092293  1.240900
word_of_mouth                       0.441281  0.058164  1.151819

                                     mean      diff      rate
what_is_your_current_occupation
businessman                      0.500000  0.116883  1.305085
housewife                        1.000000  0.616883  2.610169
other                            0.615385  0.232268  1.606258
student                          0.359281 -0.023835  0.937785
unemployed                       0.429491  0.046375  1.121045
working_professional             0.916071  0.532955  2.391102

                                                   mean      diff      rate
what_matters_most_to_you_in_choosing_a_course
better_career_prospects                        0.482146  0.099029  1.258483
flexibility_&_convenience                      0.500000  0.116883  1.305085

            mean      diff      rate
search
no      0.383146  0.000029  1.000076
yes     0.363636 -0.019481  0.949153

              mean  diff  rate
magazine
no        0.383117   0.0   1.0

                       mean      diff      rate
newspaper_article
no                 0.383033 -0.000083  0.999782
yes                1.000000  0.616883  2.610169

                        mean  diff  rate
x_education_forums
no                  0.383117   0.0   1.0

               mean      diff      rate
newspaper
no         0.383169  0.000052  1.000135
yes        0.000000 -0.383117  0.000000

                           mean      diff      rate
digital_advertisement
no                     0.383221  0.000104  1.000271
yes                    0.000000 -0.383117  0.000000

                             mean      diff      rate
through_recommendations
no                       0.382918 -0.000199  0.999482
yes                      0.750000  0.366883  1.957627

                                            mean  diff  rate
receive_more_updates_about_our_courses
no                                      0.383117   0.0   1.0

,mean,diff,rate
tags,,,
already_a_student,0.007752,-0.375365,0.020234
busy,0.567742,0.184625,1.481903
closed_by_horizzon,0.996454,0.613337,2.600914
diploma_holder_(not_eligible),0.020833,-0.362284,0.054379
graduation_in_progress,0.063830,-0.319287,0.166607
in_confusion_whether_part_time_or_dlp,0.250000,-0.133117,0.652542
in_touch_with_eins,0.272727,-0.110390,0.711864
interested__in_full_time_mba,0.010989,-0.372128,0.028683
interested_in_next_batch,1.000000,0.616883,2.610169
interested_in_other_courses,0.023810,-0.359307,0.062147
invalid_number,0.014493,-0.368624,0.037829
lateral_student,1.000000,0.616883,2.610169
lost_to_eins,0.979310,0.596193,2.556166
lost_to_others,0.000000,-0.383117,0.000000
not_doing_further_education,0.000000,-0.383117,0.000000
number_not_provided,0.000000,-0.383117,0.000000
opp_hangup,0.068966,-0.314151,0.180012
recognition_issue_(dec_approval),0.000000,-0.383117,0.000000
ringing,0.028332,-0.354785,0.073950
shall_take_in_the_next_coming_month,0.500000,0.116883,1.305085
still_thinking,0.000000,-0.383117,0.000000
switched_off,0.020408,-0.362709,0.053269
university_not_recognized,0.000000,-0.383117,0.000000
want_to_take_admission_but_has_financial_problems,0.250000,-0.133117,0.652542
will_revert_after_reading_the_email,0.967013,0.583896,2.524067
wrong_number_given,0.000000,-0.383117,0.000000

                       mean      diff      rate
lead_quality
high_in_relevance  0.948718  0.565601  2.476315
low_in_relevance   0.803063  0.419947  2.096132
might_be           0.753392  0.370275  1.966480
not_sure           0.242597 -0.140520  0.633219
worst              0.020408 -0.362709  0.053269

                                       mean  diff  rate
update_me_on_supply_chain_content
no                                 0.383117   0.0   1.0

                               mean  diff  rate
get_updates_on_dm_content
no                         0.383117   0.0   1.0

                                 mean      diff      rate
lead_profile
dual_specialization_student  1.000000  0.616883  2.610169
lateral_student              0.952381  0.569264  2.485876
other_leads                  0.351621 -0.031496  0.917790
potential_lead               0.781591  0.398474  2.040086
select                       0.404403  0.021286  1.055560
student_of_someschool        0.024752 -0.358364  0.064608

                                 mean      diff      rate
city
mumbai                       0.401318  0.018201  1.047509
other_cities                 0.408015  0.024898  1.064987
other_cities_of_maharashtra  0.437326  0.054209  1.141495
other_metro_cities           0.401961  0.018844  1.049186
select                       0.485479  0.102363  1.267184
thane_&_outskirts            0.447412  0.064295  1.167822
tier_ii_cities               0.339286 -0.043831  0.885593

                                 mean      diff      rate
asymmetrique_activity_index
01.high                      0.313522 -0.069595  0.818344
02.medium                    0.428008  0.044891  1.117173
03.low                       0.092715 -0.290402  0.242002

                                mean      diff      rate
asymmetrique_profile_index
01.high                     0.482525  0.099408  1.259473
02.medium                   0.304191 -0.078926  0.793990
03.low                      0.416667  0.033550  1.087571

                                              mean  diff  rate
i_agree_to_pay_the_amount_through_cheque
no                                        0.383117   0.0   1.0

                                           mean      diff      rate
a_free_copy_of_mastering_the_interview
no                                      0.39578  0.012663  1.033053
yes                                     0.35545 -0.027667  0.927785

                                  mean      diff      rate
last_notable_activity
approached_upfront            1.000000  0.616883  2.610169
email_bounced                 0.160000 -0.223117  0.417627
email_link_clicked            0.222222 -0.160895  0.580038
email_marked_spam             1.000000  0.616883  2.610169
email_opened                  0.364362 -0.018755  0.951046
email_received                1.000000  0.616883  2.610169
form_submitted_on_website     0.000000 -0.383117  0.000000
had_a_phone_conversation      0.900000  0.516883  2.349153
modified                      0.230430 -0.152687  0.601461
olark_chat_conversation       0.156863 -0.226254  0.409438
page_visited_on_website       0.294355 -0.088762  0.768316
resubscribed_to_emails        1.000000  0.616883  2.610169
sms_sent                      0.690286  0.307169  1.801763
unreachable                   0.636364  0.253247  1.661017
unsubscribed                  0.300000 -0.083117  0.783051
view_in_browser_link_clicked  0.000000 -0.383117  0.000000

In [81]:
from IPython.display import display 
 
for col in numerical:
    df_group = df_train_full.groupby(by=col).converted.agg(['mean'])
    df_group['diff'] = df_group['mean'] - global_mean
    df_group['rate'] = df_group['mean'] / global_mean
    display(df_group)

             mean      diff      rate
lead_number
579533        1.0  0.616883  2.610169
579538        1.0  0.616883  2.610169
579545        0.0 -0.383117  0.000000
579546        0.0 -0.383117  0.000000
579564        1.0  0.616883  2.610169
...           ...       ...       ...
660681        1.0  0.616883  2.610169
660719        0.0 -0.383117  0.000000
660727        1.0  0.616883  2.610169
660728        0.0 -0.383117  0.000000
660737        0.0 -0.383117  0.000000

[7392 rows x 3 columns]

           mean      diff      rate
converted
0           0.0 -0.383117  0.000000
1           1.0  0.616883  2.610169

                 mean      diff      rate
totalvisits
0.0          0.411966  0.028849  1.075301
1.0          0.164596 -0.218521  0.429624
2.0          0.315946 -0.067171  0.824674
3.0          0.375361 -0.007756  0.979756
4.0          0.391800  0.008683  1.022663
5.0          0.402226  0.019109  1.049877
6.0          0.389920  0.006804  1.017758
7.0          0.388000  0.004883  1.012746
8.0          0.471910  0.088793  1.231765
9.0          0.427536  0.044419  1.115942
10.0         0.483871  0.100754  1.262985
11.0         0.565217  0.182101  1.475313
12.0         0.388889  0.005772  1.015066
13.0         0.457143  0.074026  1.193220
14.0         0.600000  0.216883  1.566102
15.0         0.411765  0.028648  1.074776
16.0         0.400000  0.016883  1.044068
17.0         0.166667 -0.216450  0.435028
18.0         0.357143 -0.025974  0.932203
19.0         0.625000  0.241883  1.631356
20.0         0.400000  0.016883  1.044068
21.0         1.000000  0.616883  2.610169
22.0         0.333333 -0.049784  0.870056
23.0         0.500000  0.116883  1.305085
24.0         0.750000  0.366883  1.957627
25.0         0.250000 -0.133117  0.652542
26.0         1.000000  0.616883  2.610169
27.0         0.750000  0.366883  1.957627
28.0         0.000000 -0.383117  0.000000
29.0         0.000000 -0.383117  0.000000
30.0         0.000000 -0.383117  0.000000
41.0         0.000000 -0.383117  0.000000
54.0         0.000000 -0.383117  0.000000
55.0         0.000000 -0.383117  0.000000
74.0         0.000000 -0.383117  0.000000
115.0        0.000000 -0.383117  0.000000
141.0        0.000000 -0.383117  0.000000
251.0        1.000000  0.616883  2.610169

                                 mean      diff      rate
total_time_spent_on_website
0                            0.411497  0.028380  1.074077
1                            0.200000 -0.183117  0.522034
2                            0.090909 -0.292208  0.237288
3                            0.222222 -0.160895  0.580038
4                            0.000000 -0.383117  0.000000
...                               ...       ...       ...
2207                         0.000000 -0.383117  0.000000
2217                         1.000000  0.616883  2.610169
2226                         0.000000 -0.383117  0.000000
2253                         1.000000  0.616883  2.610169
2272                         0.000000 -0.383117  0.000000

[1648 rows x 3 columns]

                          mean      diff      rate
page_views_per_visit
0.00                  0.411966  0.028849  1.075301
1.00                  0.284351 -0.098766  0.742205
1.14                  0.500000  0.116883  1.305085
1.20                  0.250000 -0.133117  0.652542
1.22                  0.500000  0.116883  1.305085
...                        ...       ...       ...
14.00                 0.833333  0.450216  2.175141
15.00                 0.333333 -0.049784  0.870056
16.00                 0.000000 -0.383117  0.000000
24.00                 1.000000  0.616883  2.610169
55.00                 0.000000 -0.383117  0.000000

[103 rows x 3 columns]

                                 mean      diff      rate
asymmetrique_activity_score
7.0                          0.000000 -0.383117  0.000000
8.0                          0.000000 -0.383117  0.000000
9.0                          0.000000 -0.383117  0.000000
10.0                         0.069767 -0.313349  0.182105
11.0                         0.073171 -0.309946  0.190988
12.0                         0.115152 -0.267965  0.300565
13.0                         0.139384 -0.243733  0.363816
14.0                         0.406272  0.023155  1.060439
15.0                         0.632094  0.248977  1.649872
16.0                         0.518519  0.135402  1.353421
17.0                         0.051724 -0.331393  0.135009
18.0                         0.000000 -0.383117  0.000000

                                mean      diff      rate
asymmetrique_profile_score
11.0                        0.500000  0.116883  1.305085
12.0                        0.388889  0.005772  1.015066
13.0                        0.229730 -0.153387  0.599634
14.0                        0.275862 -0.107255  0.720047
15.0                        0.281382 -0.101735  0.734455
16.0                        0.405010  0.021894  1.057146
17.0                        0.467091  0.083974  1.219187
18.0                        0.367442 -0.015675  0.959086
19.0                        0.739583  0.356466  1.930438
20.0                        0.709163  0.326046  1.851037

In [85]:
df_train_full[numerical].corrwith(df_train_full.converted)

lead_number                    0.021904
converted                      1.000000
totalvisits                    0.033651
total_time_spent_on_website    0.363470
page_views_per_visit           0.001593
asymmetrique_activity_score    0.165739
asymmetrique_profile_score     0.224824
dtype: float64

In [94]:
df_train_full[categorical].corrwith(df_train_full.converted)

Series([], dtype: float64)

In [99]:
train_dict = df_train_full[categorical + numerical].to_dict(orient='records')

In [100]:
from sklearn.feature_extraction import DictVectorizer
 
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [101]:
X_train = dv.transform(train_dict)

In [102]:
X_train[0]

array([ 1.,  0., nan, ...,  1.,  0.,  1.])

In [103]:
dv.get_feature_names()

C:\Users\Lily\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['a_free_copy_of_mastering_the_interview=no',
 'a_free_copy_of_mastering_the_interview=yes',
 'asymmetrique_activity_index',
 'asymmetrique_activity_index=01.high',
 'asymmetrique_activity_index=02.medium',
 'asymmetrique_activity_index=03.low',
 'asymmetrique_activity_score',
 'asymmetrique_profile_index',
 'asymmetrique_profile_index=01.high',
 'asymmetrique_profile_index=02.medium',
 'asymmetrique_profile_index=03.low',
 'asymmetrique_profile_score',
 'city',
 'city=mumbai',
 'city=other_cities',
 'city=other_cities_of_maharashtra',
 'city=other_metro_cities',
 'city=select',
 'city=thane_&_outskirts',
 'city=tier_ii_cities',
 'converted',
 'country',
 'country=asia/pacific_region',
 'country=australia',
 'country=bahrain',
 'country=bangladesh',
 'country=belgium',
 'country=canada',
 'country=china',
 'country=denmark',
 'country=france',
 'country=germany',
 'country=ghana',
 'country=hong_kong',
 'country=india',
 'country=indonesia',
 'country=italy',
 'country=kenya',
 'country=kuwait',
 'country=liberia',
 'country=netherlands',
 'country=nigeria',
 'country=oman',
 'country=philippines',
 'country=qatar',
 'country=russia',
 'country=saudi_arabia',
 'country=singapore',
 'country=south_africa',
 'country=sri_lanka',
 'country=sweden',
 'country=switzerland',
 'country=uganda',
 'country=united_arab_emirates',
 'country=united_kingdom',
 'country=united_states',
 'country=unknown',
 'country=vietnam',
 'digital_advertisement=no',
 'digital_advertisement=yes',
 'do_not_call=no',
 'do_not_call=yes',
 'do_not_email=no',
 'do_not_email=yes',
 'get_updates_on_dm_content=no',
 'how_did_you_hear_about_x_education',
 'how_did_you_hear_about_x_education=advertisements',
 'how_did_you_hear_about_x_education=email',
 'how_did_you_hear_about_x_education=multiple_sources',
 'how_did_you_hear_about_x_education=online_search',
 'how_did_you_hear_about_x_education=other',
 'how_did_you_hear_about_x_education=select',
 'how_did_you_hear_about_x_education=sms',
 'how_did_you_hear_about_x_education=social_media',
 'how_did_you_hear_about_x_education=student_of_someschool',
 'how_did_you_hear_about_x_education=word_of_mouth',
 'i_agree_to_pay_the_amount_through_cheque=no',
 'last_activity',
 'last_activity=approached_upfront',
 'last_activity=converted_to_lead',
 'last_activity=email_bounced',
 'last_activity=email_link_clicked',
 'last_activity=email_marked_spam',
 'last_activity=email_opened',
 'last_activity=email_received',
 'last_activity=form_submitted_on_website',
 'last_activity=had_a_phone_conversation',
 'last_activity=olark_chat_conversation',
 'last_activity=page_visited_on_website',
 'last_activity=resubscribed_to_emails',
 'last_activity=sms_sent',
 'last_activity=unreachable',
 'last_activity=unsubscribed',
 'last_activity=view_in_browser_link_clicked',
 'last_notable_activity=approached_upfront',
 'last_notable_activity=email_bounced',
 'last_notable_activity=email_link_clicked',
 'last_notable_activity=email_marked_spam',
 'last_notable_activity=email_opened',
 'last_notable_activity=email_received',
 'last_notable_activity=form_submitted_on_website',
 'last_notable_activity=had_a_phone_conversation',
 'last_notable_activity=modified',
 'last_notable_activity=olark_chat_conversation',
 'last_notable_activity=page_visited_on_website',
 'last_notable_activity=resubscribed_to_emails',
 'last_notable_activity=sms_sent',
 'last_notable_activity=unreachable',
 'last_notable_activity=unsubscribed',
 'last_notable_activity=view_in_browser_link_clicked',
 'lead_number',
 'lead_origin=api',
 'lead_origin=landing_page_submission',
 'lead_origin=lead_add_form',
 'lead_origin=lead_import',
 'lead_origin=quick_add_form',
 'lead_profile',
 'lead_profile=dual_specialization_student',
 'lead_profile=lateral_student',
 'lead_profile=other_leads',
 'lead_profile=potential_lead',
 'lead_profile=select',
 'lead_profile=student_of_someschool',
 'lead_quality',
 'lead_quality=high_in_relevance',
 'lead_quality=low_in_relevance',
 'lead_quality=might_be',
 'lead_quality=not_sure',
 'lead_quality=worst',
 'lead_source',
 'lead_source=bing',
 'lead_source=blog',
 'lead_source=click2call',
 'lead_source=direct_traffic',
 'lead_source=facebook',
 'lead_source=google',
 'lead_source=live_chat',
 'lead_source=nc_edm',
 'lead_source=olark_chat',
 'lead_source=organic_search',
 'lead_source=pay_per_click_ads',
 'lead_source=press_release',
 'lead_source=reference',
 'lead_source=referral_sites',
 'lead_source=social_media',
 'lead_source=welearn',
 'lead_source=welearnblog_home',
 'lead_source=welingak_website',
 'lead_source=youtubechannel',
 'magazine=no',
 'newspaper=no',
 'newspaper=yes',
 'newspaper_article=no',
 'newspaper_article=yes',
 'page_views_per_visit',
 'prospect_id=000104b9-23e4-4ddc-8caa-8629fe8ad7f4',
 'prospect_id=0006d10a-eb01-4ba9-92e2-ad78588b2a40',
 'prospect_id=0011be30-fa97-465b-8e44-0ae83dff7eed',
 'prospect_id=0011f23e-9fd9-4256-b316-efc2e2639b0d',
 'prospect_id=001e6e14-2183-47ab-a405-108e44bc2e66',
 'prospect_id=0020b1d4-5bce-49b2-b8e3-0e04b5b0be5a',
 'prospect_id=00211c7a-7823-4fa8-8765-8f3d8e113f4e',
 'prospect_id=002233e4-c3d5-4a78-b64e-fa9b7fdef393',
 'prospect_id=0029ea13-9e74-4b41-8dcf-7e0438338457',
 'prospect_id=002d933c-cba6-4433-bed5-05e63867ee4f',
 'prospect_id=002da94e-b168-4e27-bdeb-a0da92666434',
 'prospect_id=0033009e-57b0-46c7-b84d-2027ce70f1cd',
 'prospect_id=0036610c-a13a-4719-b0d2-5a1408600dec',
 'prospect_id=003c30fe-1ffe-4ba3-90fa-27a519325851',
 'prospect_id=003f5830-2090-4371-a64e-cc7642edbd7f',
 'prospect_id=00408992-f4a1-4211-9058-e03c4a7851c8',
 'prospect_id=0041d12d-224e-4b59-8f04-bb79b7035408',
 'prospect_id=0044c980-284a-4dbe-8d01-31f614bc7e38',
 'prospect_id=0047124c-2a76-4c2d-b4e4-83cb2331dbec',
 'prospect_id=0053e38c-91f8-4981-b3da-d297113b9d79',
 'prospect_id=006abec4-ad87-45bd-8e04-c22edb6279c7',
 'prospect_id=007b78b7-7be1-4c7a-b119-66553db3f906',
 'prospect_id=007bd36d-da84-4645-8720-8d481fe79773',
 'prospect_id=007c3194-d60e-4a31-a00e-98f93c94bda3',
 'prospect_id=008cfab4-dd2d-4cba-8806-d42ffc6bad40',
 'prospect_id=008f8176-f95e-4b1b-8d10-b69fa983e57e',
 'prospect_id=00976672-4554-4b7c-91a8-c3588f78c8c9',
 'prospect_id=009cb4b9-cd0b-4e5e-9f7d-500a63c49981',
 'prospect_id=00a087e0-e566-468a-9c6d-917b2efa4422',
 'prospect_id=00abd8bd-47c1-4d5b-8f48-ecce4d6294ed',
 'prospect_id=00b7d286-3184-47de-ba38-6e2a7a5ec3db',
 'prospect_id=00d31c53-2a9d-4699-9d6c-d84e60902939',
 'prospect_id=00d914d6-6588-4686-9c63-0049dbb8260c',
 'prospect_id=00dbf55e-899a-42c9-9e2c-244829923138',
 'prospect_id=00dd9678-9ff0-48f2-b8fe-45e4ecaf3aa2',
 'prospect_id=00e44407-79f1-470b-931d-ad2a8588aa1c',
 'prospect_id=00e62cbc-572b-4d23-bac8-785d27af9111',
 'prospect_id=00f30772-3107-4ccb-b3ef-103f6e645c32',
 'prospect_id=00fd9191-ba69-48be-8f21-e50b89802b0b',
 'prospect_id=00fed49d-440c-411f-bfef-bc689f3e5c7e',
 'prospect_id=0125471e-6bd4-4952-8063-f01fd1c9ca7c',
 'prospect_id=0134d997-be67-4a4e-bb7e-94a6da5e26c4',
 'prospect_id=0136d91b-558e-402d-8982-2f7d6be9f576',
 'prospect_id=013a035d-72c5-4277-be61-27550621c4d2',
 'prospect_id=014812f5-b21c-46ad-b5ed-a36bb8e7a009',
 'prospect_id=01484537-8dfa-42db-94a6-52d8cf313c2e',
 'prospect_id=01494a02-d8b3-4b18-8aad-d0dfaafc3905',
 'prospect_id=014b3eac-a050-4596-b0ad-0be984086a6c',
 'prospect_id=01502bf8-d062-4a90-9119-15597dc4a950',
 'prospect_id=015175d9-0674-4078-b80d-18f008c18b48',
 'prospect_id=016006ba-1699-412b-9a19-4b22f383c723',
 'prospect_id=0166d3f9-b6e1-49f3-801a-cddcd3a09e90',
 'prospect_id=017169dd-9780-4813-a835-14b2ed133ea2',
 'prospect_id=01732c15-76ae-45cf-8499-17d81e720620',
 'prospect_id=0173dd77-5008-414f-93c6-a6ba5186a62b',
 'prospect_id=01768ee7-afec-47ac-9a98-018b9961de5e',
 'prospect_id=017e2844-cdde-41d0-ba20-da863968dcbd',
 'prospect_id=01825b19-c264-4229-80a8-b6ef25f71ef3',
 'prospect_id=01869caf-451c-43b8-9a05-ffdea2627fe2',
 'prospect_id=018f3175-256a-4868-9bdd-c435d4ced476',
 'prospect_id=01975c4a-7426-4e89-9a23-3d4006f15f02',
 'prospect_id=01a35f67-534c-436f-852f-e9edb7fc4d9c',
 'prospect_id=01a82199-7cbe-4a4b-a396-b517d0328358',
 'prospect_id=01b01543-5f22-4bbe-a8c0-178cfd209926',
 'prospect_id=01b4071a-a908-4e84-b24a-c8a5e8111d7a',
 'prospect_id=01b8ea88-f9bb-4ddd-95a3-127c2b1bcd8d',
 'prospect_id=01b9f473-3609-4846-a0e4-ddcd1f6170ae',
 'prospect_id=01c80c2c-ae4d-429d-9f69-5bf720811981',
 'prospect_id=01ca067f-a6a4-4ce3-9f88-df4898ea8288',
 'prospect_id=01cb6c3a-4870-4d8e-ab0c-0ec09dfa08bb',
 'prospect_id=01d3ac39-643b-408e-9754-7a1ab4900121',
 'prospect_id=01d6d18a-39e3-48de-9e93-2ec63b2ace60',
 'prospect_id=01ded72f-1d7f-435d-9076-b03df8e3fc96',
 'prospect_id=01eabd68-22d7-42ec-baa4-dd613b4e88bd',
 'prospect_id=01f148b8-7c05-4970-9dac-7d683d7e0299',
 'prospect_id=02093e9f-8924-4cd3-ba1f-d3ba869ae14c',
 'prospect_id=0215f852-402a-459b-9f59-bd43766db7e6',
 'prospect_id=021e9342-3c00-47fb-83eb-8a9509aa9f94',
 'prospect_id=021ff8a2-9b16-49d8-8ec2-941391c77bce',
 'prospect_id=0224c60b-2238-4ffe-bdd2-6619bf2594d6',
 'prospect_id=023fa0b2-091f-4171-8f7f-069e7d39b8b7',
 'prospect_id=024257f9-1c88-4e5b-b02d-32bbbb9fedb5',
 'prospect_id=02483b04-5fb9-4484-bb68-0fccdb237559',
 'prospect_id=02566cad-fc8f-4672-84b1-421c06d2def1',
 'prospect_id=02570a3d-3e48-4ea5-b452-87e0c5e3b9ea',
 'prospect_id=025d3c2c-80d0-49d6-ae55-4add4394e680',
 'prospect_id=026ef78b-c843-4c87-9f3a-d6dbcfa4b255',
 'prospect_id=02736de1-78b0-47f3-8158-dd50e799a01d',
 'prospect_id=0273d7ea-a5fb-4b7f-8c60-d57a846b273d',
 'prospect_id=0276816b-c25c-4463-aaa1-7af7d5f04261',
 'prospect_id=0287aa77-3154-4565-9970-9e4fa7fc63ba',
 'prospect_id=02903c65-5918-41a9-86cc-991e13c3ff17',
 'prospect_id=0291bfdf-ba18-4877-b9f6-fb3122af852b',
 'prospect_id=02920514-5cc1-4c88-93db-81ef274e34d3',
 'prospect_id=0298b9a5-fedb-408b-a284-2d357583600f',
 'prospect_id=029d8a9e-6d0a-4238-b5b7-26f460f99480',
 'prospect_id=029effee-3a4a-4723-b11d-69ef1092fe30',
 'prospect_id=029f013f-c74c-4501-b0cc-0fa1fdbf4652',
 'prospect_id=02a3017e-d3b2-4b2b-81f0-9ae7604e3edb',
 'prospect_id=02c3afd4-45d1-414d-8d8a-378c5ed343ee',
 'prospect_id=02c53731-058f-459e-87dd-ac2d806b3c4c',
 'prospect_id=02d11117-9d5d-43a5-bb2d-cccdff9fc7b7',
 'prospect_id=02dcdd25-10f5-49b5-9e9f-53697a9a738a',
 'prospect_id=02e5134f-5d56-4412-96fd-d02e532e3941',
 'prospect_id=02f14a17-41db-481a-8330-b8c6f3b51c47',
 'prospect_id=02f8c168-997a-4291-b59b-00efa59b8acf',
 'prospect_id=02fd70ad-acc2-4ae0-a6dc-856804c3da05',
 'prospect_id=0310cc82-7843-4e55-b80e-44468b0ebdc3',
 'prospect_id=0312a7b6-fb01-4a9f-93a3-91e7fbb72cfa',
 'prospect_id=031ff09b-ea97-4a95-a03e-8dae56dd8f8d',
 'prospect_id=03283251-eada-401a-9b63-90a2e570d339',
 'prospect_id=032c89e4-fba6-4340-9b31-b959683855df',
 'prospect_id=0349b6df-3288-4d76-ae58-58b788a2563f',
 'prospect_id=034cc937-93f6-4fa4-b8c4-3d4165e24a13',
 'prospect_id=03509345-8a4d-4432-b5a5-49a17f9fdda2',
 'prospect_id=03510761-4907-4877-8aef-af84eeea9a2f',
 'prospect_id=035ff3c8-3683-4394-b965-5d76be62dc7f',
 'prospect_id=036e3ef2-9b68-4479-9fe7-d584c87b128c',
 'prospect_id=0371849d-b964-4473-b41c-a1a3f56ad1b5',
 'prospect_id=037934ec-d69c-4c75-9974-b8d8ccd1cb05',
 'prospect_id=037b861c-d3a3-4089-96b7-ed40ac5de631',
 'prospect_id=038dc19c-b7ea-4cc3-a95b-9a13e477c4b1',
 'prospect_id=03905130-8416-49e3-960f-daff0b5cb185',
 'prospect_id=03a14174-b36d-4d21-8a6c-a96c9d117804',
 'prospect_id=03aee2bc-4602-444a-bf90-a6b824827fd2',
 'prospect_id=03bdbc2c-442c-4fe8-ade8-c2b05e5f57b1',
 'prospect_id=03bddfac-f0db-432f-a7f5-1935b7b82f25',
 'prospect_id=03c84178-3657-418e-8216-bda376580ccc',
 'prospect_id=03ccc6c9-80b5-4e69-8317-0c45e7c3a30f',
 'prospect_id=03dd1e9c-3e73-43f3-b8b7-e172c980075a',
 'prospect_id=03e7650c-b965-4a08-b987-a98a6073bfe2',
 'prospect_id=04084526-2cbc-4002-ac02-146c937d579c',
 'prospect_id=040b7829-7d50-4cf5-bcd3-fd3f575fb010',
 'prospect_id=0414d265-adc6-4c18-af8f-4bdd0ed44584',
 'prospect_id=0427be33-ed76-4ac0-a3d5-8d34c4a521c5',
 'prospect_id=04405beb-af8e-46eb-81a4-10cf147c3cb5',
 'prospect_id=0470e536-1d51-4dbb-bbc6-565f2536a7c6',
 'prospect_id=0473623b-9d46-418e-ac65-9ebfce3a4d6b',
 'prospect_id=047d3e91-4df4-433b-97dc-27a4f3e7ce1b',
 'prospect_id=0481b169-304f-4814-85bf-65af5688b954',
 'prospect_id=048206e4-d004-427a-b7b1-a1d40d908cc8',
 'prospect_id=048370b8-9bd0-46c4-bd19-860f5356f1e0',
 'prospect_id=04882738-ff0d-4ae7-8d52-b1a55bc2edc6',
 'prospect_id=048b8495-b03c-4647-826e-3d994aa20362',
 'prospect_id=04971a20-4a78-4192-9918-dc8c83bf5cde',
 'prospect_id=04982de7-75e0-4121-b466-af4eee961458',
 'prospect_id=049fce0e-5672-4007-8bb8-1489f394306a',
 'prospect_id=04b36f06-8e3e-4c99-9112-f162a2d1efc6',
 'prospect_id=04b679b9-4bd1-4fd2-9eec-b7a61e171633',
 'prospect_id=04b725f2-13dc-4899-be67-93e6105edc15',
 'prospect_id=04ce20bc-44f1-4bc1-96d9-a0537ab84c33',
 'prospect_id=04d42c22-824b-4b42-80f6-0fe998b3e688',
 'prospect_id=04dc59fe-0b35-4c37-bcac-58f7b5db52f9',
 'prospect_id=04ddf3d2-a1b2-48c0-9394-7ca8f0b3d32a',
 'prospect_id=04e2745c-e26b-4941-9f07-c026b3e7e2c3',
 'prospect_id=04e561d0-a90d-4f4e-b960-19c02002aed0',
 'prospect_id=04f184d3-7331-4723-bac4-e8c79af4cdc2',
 'prospect_id=05080cf7-82fa-4379-a750-a213319216be',
 'prospect_id=0512b0bd-ff9d-4e1d-8111-21a38758c651',
 'prospect_id=0514c5b6-6f61-4374-8d74-812c456d9a7e',
 'prospect_id=05236f77-c392-4ba8-89de-928363216617',
 'prospect_id=052d6a6d-03dd-44ce-a9e0-4f5656d86cd4',
 'prospect_id=053e7a1c-098e-4389-b2a5-8e5d9ebcc1b1',
 'prospect_id=05474fee-d356-44f9-8ea1-bb1f6d6a5468',
 'prospect_id=0554264d-ea7e-4290-9adf-67be17268ddc',
 'prospect_id=055cf2ac-2ed9-4505-9972-a4ce80b8bf89',
 'prospect_id=055df508-28b1-42ee-8fc3-3816d536af12',
 'prospect_id=056c2f8e-2b3d-45d1-9c50-ec57d1f2c225',
 'prospect_id=05714980-fa50-4d89-b9db-f7a027f198a8',
 'prospect_id=057de5d5-de5c-49a2-b905-4ccade9a4125',
 'prospect_id=057e7f56-2ef8-4594-b589-6da903aca32c',
 'prospect_id=05821050-67af-4e86-b6fe-908a90d17471',
 'prospect_id=0583d041-7545-4f25-9708-84502057948f',
 'prospect_id=059777fc-6c68-45a3-b24c-1fd12fe99460',
 'prospect_id=0597e043-06b5-4ebf-95a3-d026c06e3a63',
 'prospect_id=05a29e16-4550-4c8f-b485-137193641196',
 'prospect_id=05a31293-dc3c-4791-b560-3079791b955d',
 'prospect_id=05a45826-48bc-4ecd-8643-4e8e281b87f8',
 'prospect_id=05a640d5-5ece-46c8-9d64-11c06ef02135',
 'prospect_id=05a656b4-1cf4-4184-bfb1-b43d17014b53',
 'prospect_id=05a74ce7-63c2-42fd-8bd0-f1010ef41c8a',
 'prospect_id=05bc57eb-929b-477a-991e-9d688813ac99',
 'prospect_id=05d1b0d6-b253-49ff-897f-6112bdfbbac3',
 'prospect_id=05d5249c-0dbb-45e4-ac7e-53b8f2219b80',
 'prospect_id=05dadf73-e77d-4a00-8745-4c08ccd7378e',
 'prospect_id=05dbdffe-ed15-41ac-a783-095424556cec',
 'prospect_id=05de1460-b835-4c76-988a-ab875e2f7553',
 'prospect_id=05e004c8-aebf-4eaf-bc55-64d0059b9dbf',
 'prospect_id=05fb7299-46cb-4fdb-b2a3-8908fac46493',
 'prospect_id=05fd6f2d-847e-4a19-9f38-1e588930ff7f',
 'prospect_id=0609f968-2d10-4d2e-84b5-0a8dc10a5ad2',
 'prospect_id=0613dde6-978d-4287-810f-85bf990d09c6',
 'prospect_id=06160f50-09df-4e91-b612-b84534ff4ca7',
 'prospect_id=061ccd31-4494-42d3-bb39-690417569099',
 'prospect_id=061e18be-ba89-4289-b50e-a59a0cec60fd',
 'prospect_id=06251568-3990-42b4-aaf0-eff15c51a340',
 'prospect_id=0629c917-2851-4d2a-ad48-0aafd237d48e',
 'prospect_id=062d6201-d7b0-43a1-b153-92ba04ac1966',
 'prospect_id=062dfacf-e70d-4aef-bfc0-c940e63a901d',
 'prospect_id=06334ac1-64a8-444c-92a7-117dcd26dea5',
 'prospect_id=06364896-9bd0-47fb-a894-9c198420bf76',
 'prospect_id=06492ee9-72ee-4a16-b486-58582c7a4323',
 'prospect_id=0668a61d-3de6-43c0-badf-7ebd05045443',
 'prospect_id=066bce44-12bd-4dfb-b69e-4294b6080d9f',
 'prospect_id=067a268f-97d2-47a6-83cf-dcd69a9bbda0',
 'prospect_id=0685f3e5-0edc-4753-9d66-564a83b5b028',
 'prospect_id=06860e0b-8ba8-4db5-8f30-19aa3de71405',
 'prospect_id=068d0803-43ba-45bb-9d32-21d8ec3bebba',
 'prospect_id=06944ebc-2557-4402-aef0-f6e17d2fe39b',
 'prospect_id=069c99aa-93a0-4a0f-81a8-302726a3b746',
 'prospect_id=06b0873b-e674-4998-a08e-ea548f6ccc30',
 'prospect_id=06b09054-bd07-4e9a-bb0e-b0e3c13b8f30',
 'prospect_id=06b10698-1bdc-40e4-a156-703606fd7c22',
 'prospect_id=06b2272d-0a56-4bcf-b1a6-7ecda5bf1e15',
 'prospect_id=06bd2383-fb92-494b-be8e-1e2ce983a798',
 'prospect_id=06c18d21-adfc-4e76-bedd-579beefb3f69',
 'prospect_id=06d047cc-f884-4b9f-925e-0b9fbfc97206',
 'prospect_id=06de9ab3-0ad1-4a0a-9e2f-f32f691267d3',
 'prospect_id=06e160aa-d62e-40cf-a414-41d5e01070ef',
 'prospect_id=06e22f01-45f1-4487-8248-73dfff94ad03',
 'prospect_id=06e26dfb-64f7-4fe0-808f-816412e8cc3a',
 'prospect_id=06e3dc9c-2f87-4183-a8a5-5c7495719d4f',
 'prospect_id=06e82840-78ce-4e7d-9076-cc7d2c2211d2',
 'prospect_id=06f5b430-a45a-4de2-9aca-e13ee0a43589',
 'prospect_id=06f5b651-7a0e-4ff8-a010-a152c5eaa07f',
 'prospect_id=06fa16e6-c22b-4ec3-b485-ba72f87f6636',
 'prospect_id=06fc72a0-0e7f-498b-b98c-283c90e4d713',
 'prospect_id=06feb89a-fb00-48b2-9ee8-71e69ec328fd',
 'prospect_id=06ff1c72-d4c1-498f-9deb-ae7cfe8381b4',
 'prospect_id=070f36b3-92d5-4026-9ebc-f6f56b186ad7',
 'prospect_id=071af448-2c3c-4eb8-8227-81d61838a516',
 'prospect_id=071f8f46-2b7e-4fa8-9d34-3a52ec8d5af2',
 'prospect_id=0726d729-ca65-4b7f-b5c8-ecc23d5c3300',
 'prospect_id=072b57ee-1300-4123-b531-f4b735d43126',
 'prospect_id=0738aa9e-126a-4385-8121-45cf862d4d39',
 'prospect_id=073d5cca-b346-40ce-a80d-d43dc47fdddb',
 'prospect_id=073fb427-f92a-4c5f-b421-bf7ffbd767d8',
 'prospect_id=074b57ad-1d96-46aa-8d47-864f4c199706',
 'prospect_id=074e3617-420a-47da-9158-5cddd167b7ca',
 'prospect_id=07621eae-3aa3-4715-8349-7811372338e1',
 'prospect_id=076801dc-eba3-4c64-b165-dda70397aa19',
 'prospect_id=077155b1-586d-40c0-bf83-4884c16acc34',
 'prospect_id=077bc905-2dcb-4ecb-b481-e9adc787e0bd',
 'prospect_id=07877b94-3e72-4d08-8e81-921a1bf84f79',
 'prospect_id=078997b3-7978-472c-84f4-fcb8033fec41',
 'prospect_id=07957223-071c-4674-8cb1-baf4cd56f6a6',
 'prospect_id=07b33b59-5255-41d1-a9a8-2de1627f9574',
 'prospect_id=07c3952c-5a62-4ac8-ac1f-5a74bc4dfb51',
 'prospect_id=07cabb8c-a286-4676-a1b8-c855b81ff771',
 'prospect_id=07efd6f7-1e73-4f1f-80a3-56a32adf581a',
 'prospect_id=07f285ef-d0a3-46e6-b28a-4c77dcd1241a',
 'prospect_id=07f3c665-0e79-4d7e-be1f-36dc63474a2a',
 'prospect_id=07fdedf0-0d12-42d1-9b0e-8cbebeca136c',
 'prospect_id=0800fa88-f505-4dea-9ae1-d2061ff7b078',
 'prospect_id=08091237-e396-42d4-a756-92fafa862ffc',
 'prospect_id=0819b48c-ed15-4d59-a9ae-46fd374c1c67',
 'prospect_id=082ee6a1-e140-4d68-b88e-2a062e075e50',
 'prospect_id=0834be10-b119-48c5-9b16-df692dc02bbb',
 'prospect_id=08424302-ffe0-4c2d-be4f-d099f75a3eb5',
 'prospect_id=084f5caa-eca5-4384-ac96-70eae48313fc',
 'prospect_id=0856af22-18a3-495d-a83a-868864793f5d',
 'prospect_id=085e660a-fc99-42d3-a874-ca585082358d',
 'prospect_id=0883cdf8-d748-4940-9e94-0395bc3e4453',
 'prospect_id=088af4f4-6bdc-4e32-9ba9-ec5c7d4cb155',
 'prospect_id=088f5001-3b69-4916-b21e-8d0c392e54e9',
 'prospect_id=0895aea1-0545-45fb-a308-83e72e8f947b',
 'prospect_id=089f282d-eee4-49fb-8266-65cee814a14b',
 'prospect_id=08b0957c-8296-4e8e-bc4a-1c688f1a1f7e',
 'prospect_id=08b803d5-7770-4a15-bc7c-b2e1a46eaa52',
 'prospect_id=08d155be-7dc7-4a0a-b6e4-be5e9e7c4e96',
 'prospect_id=08d33360-e9e7-4149-ab27-6afc1cf67c91',
 'prospect_id=08db8839-3c50-4923-b968-d162b997e5b6',
 'prospect_id=08eca4e1-476f-4236-9ef3-5c150aade006',
 'prospect_id=08f4a4f0-08c2-4bbb-a12f-5b5b3f4a2062',
 'prospect_id=0908c6aa-2c72-49ee-87a9-ae87ada00b14',
 'prospect_id=090e3515-80ec-4627-9764-c0341490d54a',
 'prospect_id=090e8088-0b4a-42db-92ca-56212878264c',
 'prospect_id=09128f4a-73a1-4ec1-96b7-1e85a3740dba',
 'prospect_id=0914b8b1-154c-4241-ba46-a7156ac06370',
 'prospect_id=091a1e91-405f-44fa-ac2e-61498a96af62',
 'prospect_id=09339730-986d-4d2e-b963-13b47d338cf2',
 'prospect_id=0935b588-7f48-4cf1-a94f-0bbb85620787',
 'prospect_id=0940646b-7a4d-4539-a429-916e2785e59c',
 'prospect_id=09426c50-b95e-47c9-ad40-c9fd85a4f91f',
 'prospect_id=0942a098-e835-435d-9af5-28ca4bed2215',
 'prospect_id=09504411-f6c7-42d3-ae27-b4823d7119b7',
 'prospect_id=09516e1b-d2fb-447f-b588-cb11f28a4fba',
 'prospect_id=09526992-b1fb-4763-8cca-355bc5dac5e3',

In [104]:
import math
 
def sigmoid(score):
    return 1 / (1 + math.exp(-score))

In [105]:
def logistic_regression(xi):
    score = bias
    for j in range(n):
        score = score + xi[j] * w[j]
    prob = sigmoid(score)
    return prob

In [109]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [107]:
val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

KeyError: "['converted'] not in index"